body{
    background: rgb(35, 35, 35);
    color: white;
    text-align: center;
}

.buttons {
    text-align: center;
    justify-content: center;
}

button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: rgb(47, 37, 197);
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    width: 200px;
}

.download-btn {
    border: 2px solid #ffffff;
}

.download-btn:hover {
    background-color: #569ad5;
    color: white;
}

.clear-btn {
    border: 2px solid #ffffff;
}

.clear-btn:hover {
    background-color: #569ad5;
    color: white;
}

#container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.card {
    background-color: rgb(67, 67, 67);
    border-radius: 20px;
    min-height: 400px;
    width: 250px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;

}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}